.card-div {
    max-width: 600px;
    min-height: 28vh;
    background-color: lavender;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.7);
    border-radius: 8px;
    color: black;
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 0px;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.dots {
    margin-bottom: 20px;
}


.circle {
    position: absolute;
    right: 4%;
    top: -38%;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 35px;
    font-family: Cochin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}

.circle:hover {
    background-color: whitesmoke;
}

.main-card {
    width: 88%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 20px 5px 20px 0px;
    margin-left: 0px;
    width: 100%;
}

.card-text {
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    max-width: 93%;
    letter-spacing: 1px;
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 70px;
}

.card-name {
    margin-right: 15px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.card-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.card-date {
    margin-right: 15px;
}

.card-time {
    margin-right: 5px;
}

.shadow {
    background-color: #f3f3f4;
    opacity: 0.4;
}

.number-of-comments {
    margin-right: 5px;
}

.comments {
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 3.5%;
    right: 3.5%;
}

.arrow {
    font-size: 24px;
    margin-top: 2px;
}

.counter {
    margin-right: 5px;
    margin-bottom: 2px;
    font-size: 16px;
}


