SERVER_URL='http://localhost'
SERVER_PORT=8080
NODE_ENV=development
MONGODB_URL=mongodb://localhost:27017/
MONGODB_DB_NAME=api-bookfaze


MONGODB_COLLECTION_USER=user
MONGODB_COLLECTION_MESSAGE=message
MONGODB_COLLECTION_COMMENT=comment